= link_to "HundredHours", root_path, :class => 'brand'
%ul.nav
  %li= link_to 'Home', root_url
  %li= link_to 'About', about_url
  %li= link_to 'Feedback', feedback_url
  %li= link_to 'Donate', "https://www.justgiving.com/100hoursofsolitude", :target => "_blank"
