!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "100Hours"
      %meta{:content => content_for?(:description) ? yield(:description) : "HundredHours", :name => "description"}
        <!--[if lt IE 9]>
        <script src="/html5shiv.js"></script>
        <![endif]-->
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        <script type="text/javascript" src="//use.typekit.net/fvk0nfi.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        = render :partial => "/layouts/analytics"
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        = render 'layouts/messages'
        .content
          = yield
          %footer
      / ! end of .container
    / ! end of #main
    = yield :end_javascript

